/*
 * Documentation specific stylesheet
 */



/* change admin LTE login style */
.login-page{
  /*background: #2e4053;*/
  background-image:    url("../img/background.jpg");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  
}

.login-box-msg {
  color: #000;
}

.login-box-header{
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-width: 1px;
  padding: 10px;
  text-align: center;
  font-size: 18px !important;
  color: #fff;
}

.login-box-body{
  background:  #fff;
}

.alert {
  margin-left: 5 px;
}

ol, ol li, ul, ul li {  
    padding-left: 5px; 
}
