/*
 * Documentation specific stylesheet
 */


/* change bootstrap style or AdminLTE */


* {
  font-size: 11px;
  line-height : 1;

}

input,
button,
select,
textarea,
ul,
li {
  font-size: inherit;
}


.form-group.required .control-label:after { 
   content:" *";
   color:red;
}

.table tr>th.vertical-center{
    vertical-align: middle;
}


.form-group {
    margin-bottom:5px;
}

.form-group, .form-control, .form-label, .control-label, .input-group-addon, .btn, .sidebar-menu .treeview-menu > li > a {
  font-size: inherit;
}

label {
    font-weight: normal !important;
}

.form-control, 
.input-group-addon,
.select2-container .select2-selection--single{
  padding-top: 2px;
  padding-bottom: 2px;
  height: 25px;
}

hr {
  padding: 5px 0px;
  margin: 5px 0px;
}

.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer,
.timeline > li > .timeline-item > .time {
  padding: 3px 5px;
}

.pagination {
  margin-top:0;
}

.box-header .box-title{
  font-weight: bold;
  font-size: 11px;
}

.box-header h1 > small,
.box-header h2 > small,
.box-header h3 > small
 {
  font-size: 9px;
}




.table > thead > tr > th,
.table > tbody > tr > th {
  padding: 8px 5px;
  line-height: 1;
}

.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  line-height: 1;
}

/*.progress-label {
  float: left;
  margin-right: 4px;
}*/

/*.content-header{
  float: left;
  background: transparent;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: grey;
  
}*/

thead, thead tr, thead tr th {
  background: #e3e3e3;
}



/*-----*/



.pdfobject-container {
  height: 600px;
}

div.pdf{
  height: 600px;
}

div.inline{
  display:inline;
}

.red{
  color:red;
}


a {
    text-decoration: none !important;
}

a:hover, a:focus {
    text-decoration: none !important;
}

a.black {
  color: black;
}

a.table{
    color: #333;
}


.font-bold {
font-weight: bold;}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

ol, ol li, ul, ul li {  
    padding: 0; 
}
ul, ol { 
    margin-left: 1.2em; 
    margin-top:0;
}


.table-borderless tr td,
.table-borderless td,
.table-borderless tr th,
.table-borderless th {
  border: none !important;
}



.table-sk td,
.table-sk th {
  font-size: 12pt !important;
  font-family: Bookman Old Style !important;
  padding: 0px 2px 5px 2px !important;
}

.table-sk-sign td,
.table-sk-sign th {
  font-size: 12pt !important;
  font-family: Bookman Old Style !important;
  padding: 0px 0px 5px 2px !important;
}

.table-sk-petikan td,
.table-sk-petikan th,
.table-sk-petikan tr td {
  font-size: 11pt !important;
  font-family: Bookman Old Style !important;
  padding: 0px 2px 5px 2px !important;
}

.table-sk-lampiran td,
.table-sk-lampiran th,
.table-sk-lampiran tr td,
.table-sk-lampiran tr th {
  font-size: 8pt !important;
  font-family: Bookman Old Style !important;
  padding: 2px 1px 2px 1px !important;  
  page-break-inside: avoid;
}

.table-sk-lampiran tr td:first-child,
.table-sk-lampiran tr th:first-child { 
  border-color-left: #fff !important;
  border-color-top: #fff !important;
  border-color-bottom: #fff !important;
  padding: 0px !important;
}


.table-sk-lampiran thead{
    display: table-header-group;
    page-break-inside: avoid;
    border-top-style:groove;
}

.table-sk-lampiran th,
.table-sk-lampiran tr th {
  text-transform: uppercase;
  font-weight: normal;
}

.table-sk-lampiran-title td,
.table-sk-lampiran-title th,
.table-sk-lampiran-title tr td {
  font-size: 6pt !important;
  font-family: Bookman Old Style !important;
  padding: 2px 1px 2px 1px !important;
}

.table-sk-lampiran-sign td,
.table-sk-lampiran-sign th,
.table-sk-lampiran-sign tr td {
  font-size: 9pt !important;
  font-family: Bookman Old Style !important;
  padding: 2px 2px 2px 2px !important;
}

.table-border-black td,
.table-border-black th,
.table-border-black tr td {
  border: 1px solid #000000 !important;
}

.table-border td,
.table-border th,
.table-border tr td {
  border: 1px solid #000000 !important;
}


span.sk-lajur-number {
  font-size: 6pt !important;
}
div.sk-lampiran-header {
  font-size: 6pt !important;
}

.table-sk-footer td,
.table-sk-footer th {
  font-size: 9pt !important;
  font-family: Bookman Old Style !important;
}

div.sk-footer {
  padding-top: 5px !important;
  font-size: 9pt !important;
}

span.sk-footer-number {
  font-size: 8pt !important;
}

span.sk-tentang {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: inline-block;
}
span.sk-petikan,
span.sk-salinan {
  padding-top: 10px !important;
  display: inline-block;
}

.tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

div.sk {
  padding: 10px;
}

.left5 {
  margin-left: 5px;
}
.left10 {
  margin-left: 10px;
}
.left15 {
  margin-left: 15px;
}
.left20 {
  margin-left: 20px;
}

/* change font awesome style */




div.grup {
      page-break-inside:avoid;
      page-break-before: avoid;
  }
  
@page {
  size: 8.27in 12.99in;  
  margin: 1.5cm 1cm 1cm 1.5cm;
}

@media print {
  .page-break { display: block; page-break-after: always; }
  div.grup {
      page-break-inside:avoid;
      page-break-before: avoid;
  }

}

